POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_db_name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=schema_embeddings

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_SECONDS=3600

OPENAI_API_KEY=your OPENAI_API_KEY

JWT_SECRET_KEY=your-super-secret-key
JWT_ALGORITHM=HS256
JWT_EXPIRY_MINUTES=60

APP_ENV=development # we have to change it to production when app is in production
LOG_LEVEL=INFO